.grid {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'nav breadcrumb breadcrumb breadcrumb breadcrumb'
    'nav main main main main'
    'footer footer footer footer footer';
  grid-template-columns: 250px 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: var(--grid-gap);
  height: calc(100vh - var(--grid-gap));
}

.header,
.side-navigation,
.main,
.footer,
.region {
  border: 1px solid var(--border-color);
  padding: 1em;
  border-radius: var(--border-radius);
}

.header {
  grid-area: header;
  height: var(--header-height);
}

.side-navigation {
  grid-area: nav;
}

.main {
  grid-area: main;
  padding: 1em;
}

nav.breadcrumb {
  border-radius: 3px;
  grid-area: breadcrumb;
  height: var(--breadcrumb-height);
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: '';
}

nav.breadcrumb [aria-current='page'] {
  color: var(--text-color);
}

.footer {
  grid-area: footer;
}

.region {
  margin: 1em;
}
